body{
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
}

.svetofor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container{
    background-color: black;
    border-radius: 35px;
    width: 250px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.q, .s, .y{
    height: 50px;
    width: 50px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    animation: 15s infinite;
}

/*--------------------------------------------------------*/


.q{
    animation-name: q;
}

@keyframes q{
    0%{
        background-color: rgb(48, 4, 4);
    }
    35%{
        background-color: red;
        box-shadow: 0 0 10px 10px rgb(187, 1, 1),
                    0 0 10px 10px rgb(108, 0, 0),
                    0 0 10px 10px rgb(60, 0, 0);
    }
    40%{
        background-color: red;
        box-shadow: 0 0 10px 10px rgb(187, 1, 1),
                    0 0 10px 10px rgb(108, 0, 0),
                    0 0 10px 10px rgb(60, 0, 0);
    }
    45%{
        box-shadow: none;
        background-color: rgb(48, 4, 4);
    }
    100%{
        background-color: rgb(48, 4, 4);
    }
}

/*--------------------------------------------------------*/

.s{
    animation-name: s;
}

@keyframes s{
    0%{
        background-color: rgb(48, 44, 4);
    }
    39%{
        background-color: rgb(48, 44, 4);
    }
    40%{
        background-color: yellow;
        box-shadow: none;
    }
    50%{
        background-color: yellow;
        box-shadow: 0 0 10px 10px rgb(187, 187, 0),
                    0 0 10px 10px rgb(103, 108, 0),
                    0 0 10px 10px rgb(59, 60, 0);
    }
    55%{
        box-shadow: none;
        background-color: rgb(48, 44, 4);
    }
    89%{
        background-color: rgb(48, 44, 4);
    }
    90%{
        background-color: yellow;
        box-shadow: none;
    }
    95%{
        background-color: yellow;
        box-shadow: 0 0 10px 10px rgb(187, 187, 0),
                    0 0 10px 10px rgb(103, 108, 0),
                    0 0 10px 10px rgb(59, 60, 0);
    }
    100%{
        background-color: yellow;
        box-shadow: none;
    }
}

/*--------------------------------------------------------*/

.y{
    animation-name: y;
}

@keyframes y{
    0%{
        background-color: rgb(14, 48, 4);
    }
    54%{
        background-color: rgb(14, 48, 4);
    }
    55%{
        background-color: lime;
        box-shadow: none;
    }
    60%{
        background-color: lime;
        box-shadow: 0 0 10px 10px rgb(32, 187, 1),
                    0 0 10px 10px rgb(29, 108, 0),
                    0 0 10px 10px rgb(17, 60, 0);
    }
    85%{
        background-color: lime;
        box-shadow: 0 0 10px 10px rgb(32, 187, 1),
                    0 0 10px 10px rgb(29, 108, 0),
                    0 0 10px 10px rgb(17, 60, 0);
    }
    90%{
        box-shadow: none;
        background-color: rgb(14, 48, 4);
    }
    100%{
        background-color: rgb(14, 48, 4);
    }
}